.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.grid-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

// body{
//     margin: 0;
//     bottom: 50px;
//     background-image: url('../Images/background.jpg');
//     height: auto;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     background-attachment: fixed;
// }

.background{
     /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../Images/background.jpg');
}

@mixin position-center{
    justify-content: center;
    display: flex;
}

.form-content-left {
    position: relative;
}

.form-img{
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

p.p1{
    font-size: 18pt;
    margin-bottom: 0px;
}

p.p2{
    font-family: 'Klee One', cursive;
    font-weight: bold;
    padding-bottom: 20px;
}

.welcome-text{
    top: 20px;
    left: 30px;
    font-weight: bold;
    width: 12rem;
    max-height: 10px;
    color: white;
    float: left;
    position: absolute;
    background-color: tomato;
}

.login-form{
   background-color: white;
   width: 70%;
   height: auto;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border-radius: 25px;
   padding: 10px;
   margin: 10px;
   box-shadow: 0 4px 8px 0 rgba(133, 127, 127, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register{
    color:black;
    text-decoration: none;    
}

#register:hover{
    color: rgb(128, 125, 125);
}

.btn-sign{
    width: 80%;
    border-radius: 15px;
}

.button-form{
    @include position-center;
    padding-right: 30px;
}

.text-register{
    @include position-center;
    margin : 10px;
    padding: 20px;
    font-family: 'Klee One', cursive;
    font-weight: bold;
}

.picture{
    @include position-center;
}

@media (max-width: 1000px) {
    .form-img{
        width: 0px;
        height: 0px;
    }

    .grid-form{
        grid-template-columns: 1fr;
    }

    .grid-container{
        grid-template-columns: 1fr;
    }
  }
